# Ignore migrations folder
imageapp/migrations/

# Ignore pyc files
*.pyc

# Ignore database file
db.sqlite3
__pycache__/
.codegpt
*.py[cod]

# Virtual Environment
venv/


# Media Uploads
media/

.env