{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <!-- Adjusted column width for a slight increase -->
        <div class="col-md-7 col-lg-5">
            <div class="card shadow-lg">
                <div class="card-header text-center" style="background-color: #ff5733; color: white; padding: 20px 0;"> 
                    <h4 class="h3">Login</h4>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="alert alert-info">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <p>
                            Forgot your password? <a href="{% url 'password_reset_request' %}">Reset it here</a>
                        </p>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>

                    <p class="text-center mt-3">
                        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f4f7fc;
    }

    .card {
        border-radius: 10px;
    }

    .card-header {
        border-radius: 10px 10px 0 0;
        padding: 20px 0;
    }

    .card-body {
        background-color: #fff;
        padding: 2rem;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 20px;
        padding: 1rem;
        font-size: 1rem;
    }

    .btn-primary {
        border-radius: 20px;
        padding: 1rem;
        font-size: 1.1rem;
        background-color: #ff5733;
        border: none;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #ff5733;
    }

    p {
        font-size: 0.9rem;
    }

    a {
        color: #ff5733;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}
